# Analysis

Here, I attempt to obtain the datasets that were posed in the assignment. Here are the questions posed:
1. Top 10 US states by coverage: The 10 US states with the highest total articles per capita (in descending order) .
2. Bottom 10 US states by coverage: The 10 US states with the lowest total articles per capita (in ascending order) .
3. Top 10 US states by high quality: The 10 US states with the highest high quality articles per capita (in descending order) .
4. Bottom 10 US states by high quality: The 10 US states with the lowest high quality articles per capita (in ascending order).
5. Census divisions by total coverage: A rank ordered list of US census divisions (in descending order) by total articles per capita.
6. Census divisions by high quality coverage: Rank ordered list of US census divisions (in descending order) by high quality articles per capita.

## Pre processing

In [1]:
#getting the data to the workspace for analysis
import pandas as pd
df = pd.read_csv("data/wp_scored_city_articles_by_state.csv")

Creating all the tables for further results:
- We create a new table with state, regional_division, population, total and high quality articles for each state, and its per capita information.

In [2]:
# Filter high-quality articles
high_quality_articles = df[df['article_quality'].isin(['FA', 'GA'])]

# Calculate the total and high-quality articles per state
total_articles_per_state = df.groupby(['regional_division', 'state'])['article_title'].count().reset_index()
high_quality_articles_per_state = high_quality_articles.groupby(['regional_division', 'state'])['article_title'].count().reset_index()

# Merge population data
result = pd.merge(total_articles_per_state, high_quality_articles_per_state, on=['regional_division', 'state'], suffixes=('_total', '_high_quality'))
result = pd.merge(result, df[['regional_division', 'state', 'population']], on=['regional_division', 'state'])

# Calculate the per capita ratios
result['total-articles-per-population'] = result['article_title_total'] / result['population']
result['high-quality-articles-per-population'] = result['article_title_high_quality'] / result['population']

# Rename columns
result.rename(columns={'article_title_total': 'total_articles', 'article_title_high_quality': 'high-quality-articles'}, inplace=True)

# Reorder columns
result = result[['state', 'regional_division', 'population', 'total-articles-per-population', 'high-quality-articles-per-population', 'total_articles', 'high-quality-articles']]

result = result.drop_duplicates().reset_index(drop = True)

We can just print the result table to ckeck if anything is wierd

In [3]:
result.sort_values('state').reset_index(drop = True) #added reset_index to make it look cleaner

,state,regional_division,population,total-articles-per-population,high-quality-articles-per-population,total_articles,high-quality-articles
0,Alabama,East South Central,5074296.0,0.000091,0.000010,461,53
1,Alaska,Pacific,733583.0,0.000203,0.000042,149,31
2,Arizona,Mountain,7359197.0,0.000012,0.000003,91,24
3,Arkansas,West South Central,3045637.0,0.000164,0.000024,500,72
4,California,Pacific,39029342.0,0.000012,0.000004,482,173
5,Colorado,Mountain,5839926.0,0.000049,0.000013,288,76
6,Delaware,South Atlantic,1018396.0,0.000056,0.000025,57,25
7,Florida,South Atlantic,22244823.0,0.000018,0.000005,411,118
8,Georgia,South Atlantic,10912876.0,0.000049,0.000009,538,93
9,Hawaii,Pacific,1440196.0,0.000105,0.000021,151,30
10,Idaho,Mountain,1939033.0,0.000104,0.000021,201,41
11,Illinois,East North Central,12582032.0,0.000103,0.000016,1298,196
12,Indiana,East North Central,6833037.0,0.000083,0.000018,565,124
13,Iowa,West North Central,3200517.0,0.000326,0.000032,1042,103
14,Kansas,West North Central,2937150.0,0.000021,0.000007,63,22
15,Kentucky,East South Central,4512310.0,0.000093,0.000018,421,79
16,Louisiana,West South Central,4590241.0,0.000066,0.000010,304,44
17,Maine,New England,1385340.0,0.000349,0.000031,483,43
18,Maryland,South Atlantic,6164660.0,0.000025,0.000007,157,42
19,Massachusetts,New England,6981974.0,0.000050,0.000009,352,62
20,Michigan,East North Central,10034113.0,0.000177,0.000013,1773,133
21,Minnesota,West North Central,5717184.0,0.000149,0.000030,854,169
22,Mississippi,East South Central,2940057.0,0.000102,0.000013,300,39
23,Missouri,West North Central,6177957.0,0.000154,0.000043,951,263
24,Montana,Mountain,1122867.0,0.000114,0.000049,128,55
25,Nevada,Mountain,3177772.0,0.000006,0.000003,19,8
26,New Hampshire,New England,1395231.0,0.000168,0.000045,234,63
27,New Jersey,Middle Atlantic,9261699.0,0.000061,0.000041,564,379
28,New Mexico,Mountain,2113344.0,0.000050,0.000015,106,31
29,New York,Middle Atlantic,19677151.0,0.000034,0.000006,660,111
30,North Carolina,South Atlantic,10698973.0,0.000005,0.000002,50,20
31,North Dakota,West North Central,779261.0,0.000457,0.000033,356,26
32,Ohio,East North Central,11756058.0,0.000079,0.000017,926,204
33,Oklahoma,West South Central,4019800.0,0.000019,0.000008,75,31
34,Oregon,Pacific,4240137.0,0.000057,0.000033,241,141
35,Pennsylvania,Middle Atlantic,12972008.0,0.000197,0.000044,2556,566
36,Rhode Island,New England,1093734.0,0.000036,0.000011,39,12
37,South Carolina,South Atlantic,5282634.0,0.000051,0.000019,271,103
38,South Dakota,West North Central,909824.0,0.000342,0.000062,311,56
39,Tennessee,East South Central,7051339.0,0.000049,0.000021,346,145
40,Texas,West South Central,30029572.0,0.000041,0.000016,1221,487
41,Utah,Mountain,3380800.0,0.000075,0.000018,255,61
42,Vermont,New England,647064.0,0.000508,0.000070,329,45
43,Virginia,South Atlantic,8683619.0,0.000015,0.000002,133,18
44,Washington,Pacific,7785786.0,0.000036,0.000015,281,115
45,West Virginia,South Atlantic,1775156.0,0.000131,0.000060,232,106
46,Wisconsin,East North Central,5892539.0,0.000032,0.000010,191,59
47,Wyoming,Mountain,581381.0,0.000170,0.000067,99,39

## Results

As the results table contain everything we need for this analysis, we can now filter the tables based on the question to obtain required results.

1. Top 10 US states by coverage: The 10 US states with the highest total articles per capita (in descending order) .

In [17]:
df1 = result.sort_values(by='total-articles-per-population', ascending=False).head(10)

#remove unwanted clutter/information
df1.drop(['high-quality-articles','high-quality-articles-per-population'],inplace=True,axis=1)
df1.reset_index(drop=True)

,state,regional_division,population,total-articles-per-population,total_articles
0,Vermont,New England,647064.0,0.000508,329
1,North Dakota,West North Central,779261.0,0.000457,356
2,Maine,New England,1385340.0,0.000349,483
3,South Dakota,West North Central,909824.0,0.000342,311
4,Iowa,West North Central,3200517.0,0.000326,1042
5,Alaska,Pacific,733583.0,0.000203,149
6,Pennsylvania,Middle Atlantic,12972008.0,0.000197,2556
7,Michigan,East North Central,10034113.0,0.000177,1773
8,Wyoming,Mountain,581381.0,0.000170,99
9,New Hampshire,New England,1395231.0,0.000168,234

2. Bottom 10 US states by coverage: The 10 US states with the lowest total articles per capita (in ascending order) .

In [16]:
df2 = result.sort_values(by='total-articles-per-population').head(10)

#remove unwanted clutter/information
df2.drop(['high-quality-articles','high-quality-articles-per-population'],inplace=True,axis=1) 
df2.reset_index(drop=True)

,state,regional_division,population,total-articles-per-population,total_articles
0,North Carolina,South Atlantic,10698973.0,0.000005,50
1,Nevada,Mountain,3177772.0,0.000006,19
2,California,Pacific,39029342.0,0.000012,482
3,Arizona,Mountain,7359197.0,0.000012,91
4,Virginia,South Atlantic,8683619.0,0.000015,133
5,Florida,South Atlantic,22244823.0,0.000018,411
6,Oklahoma,West South Central,4019800.0,0.000019,75
7,Kansas,West North Central,2937150.0,0.000021,63
8,Maryland,South Atlantic,6164660.0,0.000025,157
9,Wisconsin,East North Central,5892539.0,0.000032,191

3. Top 10 US states by high quality: The 10 US states with the highest high quality articles per capita (in descending order) .

In [18]:
df3 = result.sort_values(by='high-quality-articles-per-population', ascending=False).head(10)

#remove unwanted clutter/information
df3.drop(['total_articles','total-articles-per-population'],inplace=True,axis=1)
df3.reset_index(drop=True)

,state,regional_division,population,high-quality-articles-per-population,high-quality-articles
0,Vermont,New England,647064.0,0.000070,45
1,Wyoming,Mountain,581381.0,0.000067,39
2,South Dakota,West North Central,909824.0,0.000062,56
3,West Virginia,South Atlantic,1775156.0,0.000060,106
4,Montana,Mountain,1122867.0,0.000049,55
5,New Hampshire,New England,1395231.0,0.000045,63
6,Pennsylvania,Middle Atlantic,12972008.0,0.000044,566
7,Missouri,West North Central,6177957.0,0.000043,263
8,Alaska,Pacific,733583.0,0.000042,31
9,New Jersey,Middle Atlantic,9261699.0,0.000041,379

4. Bottom 10 US states by high quality: The 10 US states with the lowest high quality articles per capita (in ascending order).

In [19]:
df4 = result.sort_values(by='high-quality-articles-per-population').head(10)

#remove unwanted clutter/information
df4.drop(['total_articles','total-articles-per-population'],inplace=True,axis=1)
df4.reset_index(drop=True)

,state,regional_division,population,high-quality-articles-per-population,high-quality-articles
0,North Carolina,South Atlantic,10698973.0,0.000002,20
1,Virginia,South Atlantic,8683619.0,0.000002,18
2,Nevada,Mountain,3177772.0,0.000003,8
3,Arizona,Mountain,7359197.0,0.000003,24
4,California,Pacific,39029342.0,0.000004,173
5,Florida,South Atlantic,22244823.0,0.000005,118
6,New York,Middle Atlantic,19677151.0,0.000006,111
7,Maryland,South Atlantic,6164660.0,0.000007,42
8,Kansas,West North Central,2937150.0,0.000007,22
9,Oklahoma,West South Central,4019800.0,0.000008,31

5. Census divisions by total coverage: A rank ordered list of US census divisions (in descending order) by total articles per capita.

In [13]:
df5 = result.groupby('regional_division').agg({
    'population': 'sum',
    'total_articles': 'sum'
}).reset_index()

# Rename the columns for clarity
df5 = df5.rename(columns={'population': 'sum_population', 'total_articles': 'sum_total_articles'})

df5['total_articles_per_capita'] = df5['sum_total_articles']/df5['sum_population']

df5.sort_values("total_articles_per_capita",ascending= False).reset_index(drop = True)

,regional_division,sum_population,sum_total_articles,total_articles_per_capita
0,West North Central,19721893.0,3577,0.000181
1,New England,11503343.0,1437,0.000125
2,East North Central,47097779.0,4753,0.000101
3,Middle Atlantic,41910858.0,3780,0.000090
4,East South Central,19578002.0,1528,0.000078
5,West South Central,41685250.0,2100,0.000050
6,Mountain,25514320.0,1187,0.000047
7,South Atlantic,66781137.0,1849,0.000028
8,Pacific,53229044.0,1304,0.000024

6. Census divisions by high quality coverage: Rank ordered list of US census divisions (in descending order) by high quality articles per capita.

In [11]:
df6 = result.groupby('regional_division').agg({
    'population': 'sum',
    'high-quality-articles': 'sum'
}).reset_index()

# Rename the columns for clarity
df6 = df6.rename(columns={'population': 'sum_population', 'high-quality-articles': 'sum_high-quality-articles'})

df6['high_quality_articles_per_capita'] = df6['sum_high-quality-articles']/df6['sum_population']

df6.sort_values("high_quality_articles_per_capita",ascending= False).reset_index(drop = True)

,regional_division,sum_population,sum_high-quality-articles,high_quality_articles_per_capita
0,West North Central,19721893.0,639,0.000032
1,Middle Atlantic,41910858.0,1056,0.000025
2,New England,11503343.0,225,0.000020
3,East South Central,19578002.0,316,0.000016
4,West South Central,41685250.0,634,0.000015
5,East North Central,47097779.0,716,0.000015
6,Mountain,25514320.0,335,0.000013
7,Pacific,53229044.0,490,0.000009
8,South Atlantic,66781137.0,525,0.000008